
		<tr>
			<td>Имя: </td>
			<td><input type="text" name="first_name" maxlength="256" value="{{ first_name }}"></td>
			<td>{{ error.first_name }}</td>
		</tr>
		<tr>
			<td>Отчество: </td>
			<td><input type="text" name="middle_name" maxlength="256" value="{{ middle_name }}"></td>
			<td>{{ error.middle_name }}</td>
		</tr>
		<tr>
			<td>Фамилия: </td>
			<td><input type="text" name="last_name" maxlength="256" value="{{ last_name }}"></td>
			<td>{{ error.last_name }}</td>
		</tr>
		<tr>
			<td>Аватар: </td>
			<td><input type="file" name="avatar" value="{{ avatar }}"></td>
			<td>{{ error.avatar }}</td>
		</tr>
		<tr>
			<td>Страна: </td>
			<td><input type="text" name="country" maxlength="256" value="{{ country }}"></td>
			<td>{{ error.country }}</td>
		</tr>
		<tr>
			<td>Город: </td>
			<td><input type="text" name="city" maxlength="256" value="{{ city }}"></td>
			<td>{{ error.city }}</td>
		</tr>
		<tr>
			<td>Улица: </td>
			<td><input type="text" name="street" maxlength="256" value="{{ street }}"></td>
			<td>{{ error.street }}</td>
		</tr>
		<tr>
			<td>Номер дома: </td>
			<td><input type="text" name="house_number" maxlength="256" value="{{ house_number }}"></td>
			<td>{{ error.house_number }}</td>
		</tr>
		<tr>
			<td>Номер квартиры: </td>
			<td><input type="text" name="apartament_number" maxlength="256" value="{{ apartament_number }}"></td>
			<td>{{ error.apartament_number }}</td>
		</tr>