{% extends "admin/base.html" %}

{% block navigation %}
	<ul>
		<li><a href="/administration/users/all/1">Все</a></li>
		<li><a href="/administration/users/buyers/1">Покупатели</a></li>
		<li><a href="/administration/users/moders/1">Модераторы</a></li>
		<li><a href="/administration/users/admins/1">Администраторы</a></li>
	</ul>
{% endblock %}

{% block content %}

	{% if users %}
		<table>
			<tr>
				<td>Логин</td>
				<td>Уровень доступа</td>
				{% if user.level_access >= level_access %}
					<td colspan="2">Действия</td>
				{% endif %}
			</tr>
			{% for u in users %}
			<tr>
				<td>{{ u.login }}</td>
				<td>{{ u.level_access }}</td>
				<td><a href="/administration/info/user/{{u.id }}">Подробнее</a>
				{% if (user.level_access > u.level_access or user.level_access == 3) and u.id != user.id %}
					<a href="/administration/edit/user/{{ u.id }}">Изменить</a>
					<a href="/administration/delete/user/{{ u.id }}">Удалить</a>
				{% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>
		{% if count_page > 1 %}
			{% for i in 1..count_page %}
				{% if curent_page == i %}
					<span>{{ i }}</span>
				{% else %}
					<a href="/administration/users/{{ group }}/{{ i }}">{{ i }}</a>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% else %}
		Список пользователей пуст.
	{% endif %}
	{% if user.level_access >= level_access %}
	<form action="/administration/create/user" method="POST">
		<input type="hidden" name="level_access" value="{{ level_access }}">
		<input type="submit" value="Создать">
	</form>
	{% endif %}
		
{% endblock %}