{% extends "admin/index.html" %}

{% block content %}
<table>
	<tr>
		<td>
			{% if user.level_access > u.level_access and id != user.id %}
				<a href="/administration/edit/user/{{ id }}">Изменить</a>
			{% endif %}
		</td>
		<td>
			{% if (user.level_access > u.level_access or user.level_access == 3) and id != user.id %}
				<a href="/administration/delete/user/{{ id }}">Удалить</a>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>Аватар: </td>
		<td><img src="{{ avatar }}"></td>
	</tr>
	<tr>
		<td>Логин: </td>
		<td>{{ login }}</td>
	</tr>
	<tr>
		<td>Уровень доступа: </td>
		<td>
			{% if level_access == 1 %}
			Пользователь
			{% endif %}
			{% if level_access == 2 %}
			Модератор
			{% endif %}
			{% if level_access == 3 %}
			Администратор
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>Email: </td>
		<td>{{ email }}</td>
	</tr>
	<tr>
		<td>Имя: </td>
		<td>{{ first_name }}</td>
	</tr>
	<tr>
		<td>Отчество: </td>
		<td>{{ middle_name }}</td>
	</tr>
	<tr>
		<td>Фамилия: </td>
		<td>{{ last_name }}</td>
	</tr>
	<tr>
		<td>Страна: </td>
		<td>{{ country }}</td>
	</tr>
	<tr>
		<td>Город: </td>
		<td>{{ city }}</td>
	</tr>
	<tr>
		<td>Улица: </td>
		<td>{{ street }}</td>
	</tr>
	<tr>
		<td>Номер дома: </td>
		<td>{{ house_number }}</td>
	</tr>
	<tr>
		<td>Номер квартиры: </td>
		<td>{{ apartament_number }}</td>
	</tr>
</table>
{% endblock %}