#container
	margin: 0 auto
	width: 900px
	min-width: 300px

header
	border: solid 1px black
	background-color: #FFFF99
	height: 150px
	
	div
		position: relativ
		float: right
		display: table-row

#categories
	background-color: #CC9900
	width: 250px
	float: left
	height: 100%
	
article
	background-color: #FFFF66
	text-align: jusify
	margin: 0
	margin-left: 250px
	min-height: 780px
	width: 630px
	padding: 10px 10px 10px 10px
	
	.cart_info
		border-collapse: collapse
		
		td
			border: solid 1px black
			
	#navigation
		ul
			list-style: none
			margin: 0
			padding: 0
			li
				display: inline
				
	#pagination
		position: absolute
		margin-top: 735px
			
				
	.product
		border: solid 1px black
		width: 145px
		height: 230px
		text-align: center
		margin: 5px 5px 5px 5px
		float: left
		
		.image
			margin: 0 auto
			width: 150px
			height: 150px
			
		.title
			margin: 0 auto
			height: 40px
			
	#comments
		ul
			list-style: none
			padding-left: 20px
		
		.comment-button
			font-size: 12px
			color: #707070
			
		
			
		.comment
			.meta
				label
					color: #330000
					font-size: 16px
				.date
					font-size: 12px
				
			.content
				padding-top: 5px
				color: #000000
				
			margin-top: 10px
			
		.good
			.content
				color: magenta
				font-weight: bold
				
		.bade
			.content
				color: green
				
		#add-comment
			#text
				width: 400px
				height: 100px
				resize: none
	
	
footer
	background-color: #996600
