<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta lang="ru">
<title>Кофе</title>
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
{% block head %}{% endblock %}
</head>
<body>
<div id="container">
	<header>
		<a href="/"><img src="/static/images/header.jpg" width="150"></a>
		<div>
			{% if user.login %}
				<p>
					<img src="{{ user.profile.avatar }}" alt="avatar">
					Вы вошли как: {{ user.login }}<br>
					Ваш рейтинг: {{ user.rating }}<br>
					<a href="/edit/profile">Изменить профиль</a><br />
					{% if user.login and user.level_access > 1 %}
						<a href="/administration">АДМИНКА</a>
						<a href="/grabber">hhhhhhh</a>
					{% endif %}
					<a href="/my_cart">Корзина</a><label>{{ user.cart.count }}</label>
				</p>
				
				<form action="/logout" method="POST">
					<input type="submit" value="Выход">
				</form>
			{% else %}
				<form action="/login" method="POST">
					<table>
						<tr>
							<td>Логин: </td>
							<td><input type="text" maxlength="25" name="login"></td>
						</tr>
						<tr>
							<td>Пароль: </td>
							<td><input type="password" name="password"></td>
						</tr>
						<tr>
							<td><a href="/registration">Регистрация</a></td>
							<td><input type="submit"></td>
						</tr>
					</table>
				</form>
			{% endif %}
		</div>
	</header>
	<nav id="categories">
		{% block categories %}
		{% endblock %}
	</nav>
	<article>
	<div id="navigation">
	{% block navigation %}
	{% endblock %}
	</div>
	{% block content %}
	{% endblock %}
	</article>
	<footer>
	</footer>
</div>
</body>
</html>